<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/master.css">
  </head>
  <header>

        <h1>Product Information Website</h1>

    </header>
  <body>
    <a href="/">Home</a>

    <!-- triple handlebars is a shortcut for a router-view -->
    {{{body}}}

    
    <a href="/user1">View Apple Ipad Air</a>

  </body>
  <footer>
        <p>All products and bio information &copy; APPLE.</p>
      </footer>
</html>
